.header-container{
    background: url(../../../images/homebg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header-container::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background-color: #3A4256;
}